<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="LifeEventsDB" connectionString="Data Source=.\SQLEXPRESS;Database=LifeEventsDB;User Id=sa; Password=Test@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
   
  <system.serviceModel>
    <services>
      <service name="DR.Services.Managers.RelationshipGroupManager">
        <endpoint address="net.tcp://localhost:8009/RelationshipGroupService" 
                  binding="netTcpBinding" 
                  contract="DR.Services.Contracts.ServiceContracts.IRelationshipGroupService">
          
        </endpoint>
      </service>
      
      <service name="DR.Services.Managers.LifeEventManager">
        <endpoint address="net.tcp://localhost:8009/LifeEventService" 
                  binding="netTcpBinding" 
                  contract="DR.Services.Contracts.ServiceContracts.ILifeEventsService">
          
        </endpoint>
      </service>
      
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize ="2000000">
          <reliableSession enabled ="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
 
    
  </system.serviceModel>
</configuration>
